DATABASE_URL="postgresql://postgres.PROYECTO:PASSWORD@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.PROYECTO:PASSWORD@aws-1-us-east-2.pooler.supabase.com:5432/postgres"
JWT_ACCESS_SECRET="secreto_largo_acceso"
JWT_REFRESH_SECRET="secreto_largo_refresh"
JWT_ACCESS_EXPIRES="10m"
JWT_REFRESH_EXPIRES="7d"
NEXT_PUBLIC_SUPABASE_URL="https://PROYECTO.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="anon_key"

# updated
